/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ] */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    /* background: #c850c0;
  background: -webkit-linear-gradient(deg, #4158d0, #c850c0);
  background: -o-linear-gradient(90deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(90deg, #4158d0, #c850c0);
  background: linear-gradient(90deg, #4158d0, #c850c0); */
    /* background-image: linear-gradient(to right, #00026c, #002e8f, #0052ae, #0075c9, #0099e0, #0099e0, #0099e0, #0099e0, #0075c9, #0052ae, #002e8f, #00026c); */
    /* height: 100%; */
    /* background-color: #000000;
    padding: 0px;
    margin: 0px;
    */
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    background-color: #000000;
}


/* ------------------------------------ */

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}


/* ------------------------------------ */


h3,
h5 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */

input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}


/* ------------------------------------ */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
    background-color: #282828;
}

.container-table100 {
    width: 100%;
    /*min-height: 100vh;*/
    /* background: #c850c0;
  background: -webkit-linear-gradient(90deg, #4158d0, #c850c0);
  background: -o-linear-gradient(90deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(90deg, #4158d0, #c850c0);
  background: linear-gradient(90deg, #4158d0, #c850c0); */
    /* background-image: linear-gradient(to right, #00026c, #002e8f, #0052ae, #0075c9, #0099e0, #0099e0, #0099e0, #0099e0, #0075c9, #0052ae, #002e8f, #00026c);  display: -webkit-box; */
    /* background-color: #000000;
  padding: 0px;
  margin: 0px; */
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1550px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    /* background: #36304a; */
    background: #1c1c1c;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    /* color: #555555; */
    color: #000000;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 90px;
    padding-left: 20px;
}

.column2 {
    width: 90px;
    text-align: center;
}

.column3 {
    width: 100px;
    text-align: center;
}

.column4 {
    width: 70px;
    text-align: center;
}

.column5 {
    width: 80px;
    text-align: center;
}

.column6 {
    width: 100px;
    text-align: center;
}

.column7 {
    width: 170px;
    text-align: center;
}

.column8 {
    width: 200px;
    text-align: center;
}

.column9 {
    width: 200px;
    text-align: center;
}

.column10 {
    width: 140px;
    text-align: center;
    padding-right: 20px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content: "Date";
    }
    table tbody tr td:nth-child(2):before {
        content: "Order ID";
    }
    table tbody tr td:nth-child(3):before {
        content: "Name";
    }
    table tbody tr td:nth-child(4):before {
        content: "Price";
    }
    table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }
    table tbody tr td:nth-child(6):before {
        content: "Total";
    }
    .column4,
    .column5,
    .column6 {
        text-align: left;
    }
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.chartBarsWrap {
    padding-left: 60px;
    padding-right: 40px;
    /* margin: 0 30px 0 20px; */
    overflow-x: hidden;
    width: 100%;
    background-color: #282828;
}

.chartBars {
    position: relative;
    max-width: 1500px;
    height: 300px;
    margin: 50px auto 100px;
}

.chartBars .bars {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 0 1%;
    margin: 0;
}

.chartBars .bars li {
    display: inline-block;
    flex: 0 1 24%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    font-size: 16px;
}

.chartBars .bars li .bar {
    width: 80%;
    background: #49E;
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    padding-top: 18px;
    bottom: 0;
    height: 0;
    overflow: hidden;
    font-weight: bold;
    outline: 2px solid transparent;
    transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
}

.chartBars .bars li .bar:after {
    content: 'seconds';
    font-size: 15px !important;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.8);
    margin-right: -8px;
}

.chartBars .bars li b {
    color: #eee;
    width: 80%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
}

.chartBars .numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: -50px;
}

.chartBars .numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 59px;
    position: relative;
    font-size: 12px;
    bottom: 11px;
    right: -9px;
    color: #eee;
}

.chartBars .numbers li:after {
    content: "\00af";
    position: relative;
    right: -5px;
    font-size: 20px;
    top: 7px;
    color: rgba(255, 255, 255, 0.34);
}

.chartBars .numbers li:first-of-type {
    height: 63px;
    margin-top: -1px;
}

.chartBars1 .bar {
    border-top-right-radius: 30px;
}

.chartBars2 {
    max-width: 350px;
}

.chartBars2 .bars {
    padding: 0;
}

.chartBars2 .bars li {
    flex: 0 1 25%;
}

.chartBars2 .bars li .bar {
    box-shadow: 0 0 20px #222;
}

.chartBars3 {
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #666;
    border-right: 1px solid #666;
}

.chartBars3 .bars {
    border-color: #666;
    padding: 0;
}

.chartBars3 .bars li .bar {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 22px !important;
}

.chartBars3 .bars li .bar:after {
    font-size: 0.6em !important;
}

.chartBarsWrap.chartBarsHorizontal {
    flex-direction: column;
    padding-left: 70px;
}

.chartBarsWrap.chartBarsHorizontal .bars b {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: initial;
    top: 1em;
    left: -102%;
    text-align: right;
}

.chartBarsWrap.chartBarsHorizontal .chartBars {
    height: 200px;
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars {
    border: 0;
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
    width: 0;
    padding-top: 10px;
    height: 100% !important;
    text-align: right;
    font-size: 1.5em;
    transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
    font-size: 0.6em !important;
    margin-right: 20px;
}

.bars li .bar.greenBar {
    background-color: #a7f015;
    background: radial-gradient(#c4f75f, #a7f015);
}

.bars li .bar.yellowBar {
    background-color: #fdec00fd;
    background: radial-gradient(#fff67bfd, #fdec00fd);
}

.bars li .bar.redBar {
    background-color: #ff0000;
    background: radial-gradient( #ff6b6b, #ff0000);
}

.box-piesite {
    text-align: center;
    font-size: 22px;
}

.piesite {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 10em;
    cursor: default;
}

.piesite .percent {
    position: absolute;
    top: 1.1em;
    left: 0.1em;
    width: 100%;
    font-size: 0.3em;
    text-align: center;
    z-index: 2;
}

.piesite .percent .symbol {
    font-size: 0.5em;
    vertical-align: top;
    opacity: 0.5;
}

.piesite>#slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
}

.piesite>#slice.gt50 {
    clip: rect(auto, auto, auto, auto);
}

.piesite>#slice>.pie {
    position: absolute;
    border: 0.1em solid #444;
    width: 1em;
    height: 1em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 0.5em;
}

li.design .piesite>#slice>.pie {
    border-color: #49E;
}

li.usability .piesite>#slice>.pie {
    border-color: #FFA500;
}

li.creativity .piesite>#slice>.pie {
    border-color: #6B8E23;
}

.piesite>#slice>.pie.fill {
    transform: rotate(180deg) !important;
}

.piesite.fill>.percent {
    display: none;
}

.piesite:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 0.8em;
    height: 0.8em;
    background: #30303A;
    border-radius: 100%;
    z-index: 1;
}

.piesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    opacity: 0.5;
    z-index: 0;
}

.piesite:before {
    background: rgba(255, 255, 255, 0.1);
}

.box-piesite ul {
    padding: 0;
}

.box-piesite ul li {
    display: inline-block;
    margin: 10px 20px;
}

.chartBarsHorizontal .chartBars .bars {
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .bar:before {
        font-size: 2em !important;
    }
    .chartBars3 .bar:before {
        font-size: 1.5em !important;
    }
}

.tooltip>.tooltipContent {
    display: block;
    position: absolute;
    background: none repeat scroll 0 0 #222;
    color: #F0B015;
    font-family: 'Helvetica';
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 16px 15px;
    min-width: 200px;
    max-width: 500px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    margin-left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
    z-index: 2;
    text-transform: none;
    transition: all 0.3s ease-in-out;
}

.tooltip:hover>.tooltipContent {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 99;
    transform: translate(-50%, -130%);
    transition: all 0.2s ease;
}

.tooltip .tooltipContent:after {
    border-color: #222 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 0;
}

* {
    box-sizing: border-box;
}

h3 {
    text-align: center;
}


p {
    margin: 5vw auto;
    padding: 0 5vw;
    line-height: 2em;
    max-width: 60em;
}

div.chartBarsWrap {
    padding-top: 100px;
}

.chartBars p.test1 {
    /* position: left; */
    text-align: left;
    /* See http://caniuse.com/#feat=transforms2d */
    transform: rotate(90deg);
    writing-mode: sideways-lr;
    margin-left: 0px;
}

#gradient {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: #000000;
    height: 100px;
}

#header h1 {
    margin-top: 0;
    padding-top: 15px;
    font-size: 50px;
    text-align: center;
}

#eyantraLogo {
    padding-left: 3%;
    padding-top: 25px;
    float: left;
}

#courierIcon {
    padding-top: 15px;
    padding-right: 50px;
    float: right;
}

#map {
    border: 5px solid #323232;
	height: 450px;
	z-index: 0;
	width: 100%;
}

#bar-charts h1 {
    text-align: center;
    font-size: 25px;
}
